Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  google-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-special-member-functions,
  -readability-braces-around-statements,
  -google-readability-braces-around-statements,
  -readability-identifier-length,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -bugprone-easily-swappable-parameters,
  -readability-named-parameter,
  -google-readability-todo,
  -google-runtime-references,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-avoid-const-or-ref-data-members

WarningsAsErrors: 'bugprone-*,performance-*,cppcoreguidelines-virtual-class-destructor'

FormatStyle: file

CheckOptions:
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.StructCase
    value:           CamelCase
  - key:             readability-identifier-naming.VariableCase
    value:           snake_case
  - key:             readability-identifier-naming.MemberCase
    value:           snake_case
  - key:             readability-identifier-naming.MemberSuffix
    value:           _
  - key:             readability-identifier-naming.FunctionCase
    value:           CamelCase
  - key:             readability-identifier-naming.ConstantCase
    value:           CamelCase
  - key:             readability-identifier-naming.ConstantPrefix
    value:           k

  - key:             google-readability-function-size.StatementThreshold
    value:           '100'
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             readability-uppercase-literal-suffix.NewSuffixes
    value:           'f;l;ll;u;ul;ull'
  - key:             readability-identifier-naming.PublicMemberCase
    value:           snake_case
  - key:             readability-identifier-naming.PublicMemberSuffix
    value:           ''
  - key:             readability-implicit-bool-conversion.AllowIntegerConditions
    value:           true